<!-- RESPONSIVE ALTSCHOOL LOGO -->
<div class="container full_logo">
	<span class="altschool_logo">
		<span class="alt_icon">alt</span> <span class="school_txt">school</span>
	</span>
</div>

<br/>

<div class="container logo_sm">
	<span class="altschool_sm">
		alt
	</span>
</div>


<div class="codepen">

<p data-height="600" date-width="100%" data-theme-id="0" data-slug-hash="pgEoQd" data-default-tab="css" data-user="houstongolden" class='codepen'>See the Pen <a href='http://codepen.io/houstongolden/pen/pgEoQd/'>AltSchool Responsive Logo</a> by Houston Golden (<a href='http://codepen.io/houstongolden'>@houstongolden</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
<script async src="//assets.codepen.io/assets/embed/ei.js"></script>

</div>