<!-- RESPONSIVE ALTSCHOOL LOGO -->
<div class="container full_logo">
	<span class="altschool_logo">
		<span class="alt_icon">alt</span> <span class="school_txt">school</span>
	</span>
</div>

<br/>

<div class="container logo_sm">
	<span class="altschool_sm">
		alt
	</span>
</div>


<div class="codepen">



</div>